# Xcode
#
# Contributors: Update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore if you edit this.

## User settings
xcuserdata/

## Derived data & build products
DerivedData/
build/

## Project settings and compatibility (legacy)
*.xcscmblueprint
*.xccheckout
*.moved-aside

## User scheme & workspace state (legacy)
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

## Obj-C/Swift specific
*.hmap

## Debug symbols & archives
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
#
# See: https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
Pods/
podfile
podfile.lock
# If you want to ignore the workspace itself, uncomment below
# *.xcworkspace

# Carthage
#
# To ignore dependencies
# Carthage/Checkouts
Carthage/Build/

# fastlane
#
# Best practice: do not store screenshots in repo
# See: https://docs.fastlane.tools/best-practices/source-control/#source-control
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection tools
# See: https://github.com/johnno1962/injectionforxcode
iOSInjectionProject/

# Jenkins
jenkins/**

# macOS user/system files
.DS_Store
fastlane/.DS_Store

# Swift Package Manager
OgurySdks.xcworkspace/xcshareddata/swiftpm/Package.resolved

# Mockingbird Cache locks (project-specific)
sdk-ads-ios/AdsCardLibrary/AdsCardLibrary.xcodeproj/MockingbirdCache/AdsCardLibrary-AdsCardLibraryTests.lock
sdk-ads-ios/AdsCardLibrary/AdsCardLibrary.xcodeproj/MockingbirdCache/AdsCardLibraryTests-AdsCardLibraryTests.lock

# Custom project settings (project-specific)
sdk-ios/sdk-ads-ios/AdsTestApp/AdsTestApp/Controllers/Settings/Loaded Files/Dev App/Custom.settings

