//
//  Copyright © 2020-present Ogury. All rights reserved.
//

// Identification
PRODUCT_NAME = OgurySdk
FRAMEWORK_NAME = OgurySdk
PRODUCT_BUNDLE_IDENTIFIER = com.ogury.OguryWrapper

// Versioning
MARKETING_VERSION = 5.1.0
BUNDLE_VERSION = 1

// Module
PRODUCT_MODULE_NAME = OgurySdk
MODULEMAP_FILE = Configurations/module.modulemap

