#include "../../../../../Pods/Target Support Files/Pods-AdsTestApp-Staging-art/Pods-AdsTestApp-Staging-art.debug.xcconfig"
ASSET_KEY = OGY-1B809BAFEA41
DEFAULT_ENV = STAGING
PRODUCT_BUNDLE_IDENTIFIER = co.ogury.sdk.ads.app.staging
BUILD_NUMBER = build:20250314113049
VERSION = 1.0.0+ogury.4.0.2-rc-1
